@model QuestionModel.ViewModels.QuestionViewModel

<h2>Add Question</h2>

<form asp-action="AddQuestion" method="post">
    <div class="form-group">
        <label for="Text">Question Text</label>
        <input type="text" class="form-control" id="Text" name="Text" value="@Model.Text" />
        @Html.ValidationMessageFor(model => model.Text)
    </div>

    <div class="form-group">
        <label for="Points">Points</label>
        <input type="number" class="form-control" id="Points" name="Points" value="@Model.Points" />
        @Html.ValidationMessageFor(model => model.Points)
    </div>

    <div class="form-group">
        <label>Options</label>
        @for (int i = 0; i < Model.Options.Count; i++)
        {
            <div>
                <label>Option @i:</label>
                <input type="text" name="Options[@i].Text" value="@Model.Options[i].Text" />
                @Html.ValidationMessageFor(model => model.Options[i].Text)
                <input type="checkbox" name="Options[@i].IsCorrect" value="true" @(Model.Options[i].IsCorrect ? "checked" : "") />
                Correct
            </div>
        }

    </div>

    <button type="submit" class="btn btn-primary">Save Question</button>
</form>




